{% macro browse_item(deck, favorite_deck_ids, can_manage=False) %}
<article class="browse-item browse-item--deck"
  data-item-type="deck"
  data-item-id="{{ deck.id }}"
  data-deck-id="{{ deck.id }}"
>
  {% if can_manage %}
    <div class="item-cb-wrap">
      <input type="checkbox" class="item-cb" data-type="deck" data-id="{{ deck.id }}" />
    </div>
  {% endif %}

  <a href="/decks/{{ deck.id }}" class="deck-item-card__link">
    <span class="deck-item-icon" aria-hidden="true">
      <svg viewBox="0 0 24 24" fill="currentColor">
        <path d="M6 2.75h8.7a3.25 3.25 0 0 1 2.298.952l1.3 1.3a3.25 3.25 0 0 1 .952 2.298V18A3.25 3.25 0 0 1 16 21.25H8A3.25 3.25 0 0 1 4.75 18V4A1.25 1.25 0 0 1 6 2.75Zm8.25 1.9V7A1.25 1.25 0 0 0 15.5 8.25h2.35z"></path>
      </svg>
    </span>
    <span class="deck-item-name">{{ deck.name }}</span>
  </a>
</article>
{% endmacro %}
